<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'website/css/base.css' %}">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">.
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="jumbotron text-center">
        <h1>Lab6 PW</h1>
        <p>laboratorio 6</p>
        <nav></nav>
    </header>

    <article class="container">

        <main class="col-sm-6">
            {% block main %}
            {% endblock main %}
        </main>

        <aside class="col-sm-6">
            {% load static %}
            <img src="{% static 'website/images/image.png' %}">
        </aside>
    </article>
    <footer>
        Neste site está feito o 6º laboratorio da disciplina de Prgramação web
    </footer>
</body>
</html>